
[GAME] Microsoft VC++ Redistributable 
Download: goo.gl/TUQcK

[EDITOR] Microsoft .NET 3.5 
Download: goo.gl/Q6hkt

[EDITOR] Microsoft XNA 3.1 Redistributable
Download: goo.gl/RJDtt

[TOOLS] Sun JAVA Platform Runtime
Download: www.java.com/getjava